// @Author: Andreee "DevelDoe" Ray
// @Date:   2017-02-20T13:54:23+01:00
// @Email:  me@andreeray.se
// @Filename: app.scss
// @Last modified by:   DevelDoe
// @Last modified time: 2017-03-05T17:21:22+01:00

@import 'base/variables';

html, body {
    background: $black;
    color: $white;
    font-size: $size; // setting baseline at 10px
}
body {
    font-size: 1.3rem; // = 13px (1.3 * 10 = 13)
}
