// @Author: Andreee "DevelDoe" Ray
// @Date:   2017-02-22T16:07:48+01:00
// @Email:  me@andreeray.se
// @Filename: _variables.scss
// @Last modified by:   DevelDoe
// @Last modified time: 2017-03-05T17:21:38+01:00


// colors
$black: #252525;
$white: #ccc;

// size
$size: 10px;
